@media (max-width: 63em) {
  .content-container {
    height: 70%;
    width: 70%;
  }

  .btn {
    font-size: 1.6rem;
    padding: 2.4rem;
  }

  .main-nav {
    margin: 3.2rem 3.2rem 0 3.2rem;
  }

  .header {
    margin-bottom: 2rem;
  }

  .heading {
    font-size: 4.4rem;
    padding-bottom: 0.4rem;
  }

  .heading-text {
    font-size: 1.2rem;
    justify-self: center;
    /* border-bottom: 0.2px solid #39393a; */
  }

  .number-section {
    height: 30%;
  }

  .random-number {
    position: relative;
    font-size: 16rem;
    color: #333;
    text-shadow: 0.3rem 0.3rem #85ffc7;
  }

  .number-background {
    background-color: transparent;
    border: 0.2rem solid #333;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    /* box-shadow: 0.3rem 0.2rem #85ffc7; */
  }

  .score {
    padding: 0;
  }

  .guess {
    padding: 0;
  }

  .guess-input {
    height: 8rem;
    width: 8rem;
    font-size: 3rem;
  }

  .status-text {
    font-size: 2rem;
  }
  .score-title {
    font-size: 1.8rem;
  }
  .highscore-title {
    font-size: 1.8rem;
  }
  .score-text {
    font-size: 1.8rem;
  }

  .highscore-text {
    font-size: 1.8rem;
  }

  .score-text::after {
    height: 3rem;
    width: 3rem;
  }
  .highscore-text::after {
    height: 3rem;
    width: 3rem;
  }
}

/* Max-height at 800ish pixels for desktops
 */

@media (max-height: 52em) {
  .content-container {
    height: 70%;
    width: 70%;
  }

  .btn {
    font-size: 1.6rem;
    padding: 2.4rem;
  }

  .main-nav {
    margin: 3.2rem 3.2rem 0 3.2rem;
  }

  .header {
    margin-bottom: 2rem;
  }

  .heading {
    font-size: 4.4rem;
    padding-bottom: 0.4rem;
  }

  .heading-text {
    font-size: 1.2rem;
    justify-self: center;
    /* border-bottom: 0.2px solid #39393a; */
  }

  .number-section {
    height: 30%;
  }

  .random-number {
    position: relative;
    font-size: 12rem;
    color: #333;
    text-shadow: 0.3rem 0.3rem #85ffc7;
  }

  .number-background {
    background-color: transparent;
    border: 0.2rem solid #333;
    height: 16rem;
    width: 16rem;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    /* box-shadow: 0.3rem 0.2rem #85ffc7; */
  }

  .score {
    padding: 0;
  }

  .guess {
    padding: 0;
  }

  .guess-input {
    height: 5rem;
    width: 5rem;
    font-size: 2.4rem;
  }

  .status-text {
    font-size: 1.8rem;
  }
  .score-title {
    font-size: 1.6rem;
  }
  .highscore-title {
    font-size: 1.6rem;
  }
  .score-text {
    font-size: 1.6rem;
  }

  .highscore-text {
    font-size: 1.6rem;
  }

  .score-text::after {
    height: 3rem;
    width: 3rem;
  }
  .highscore-text::after {
    height: 3rem;
    width: 3rem;
  }
}

@media (max-height: 48rem) {
  .header {
    margin-bottom: 2rem;
  }

  .btn {
    font-size: 1.6rem;
    padding: 2rem;
  }

  .number-section {
    height: 25%;
  }

  .random-number {
    font-size: 10rem;
  }

  .number-background {
    height: 12rem;
    width: 12rem;
  }

  .guess-section {
    height: 10%;
  }

  .guess {
    gap: 1.8rem;
  }

  .status-text {
    font-size: 1.8rem;
  }
  .score-title {
    font-size: 1.6rem;
  }
  .highscore-title {
    font-size: 1.6rem;
  }
  .score-text {
    font-size: 1.6rem;
  }

  .highscore-text {
    font-size: 1.6rem;
  }
}
