* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: 'hoss-round', sans-serif;
  height: 100vh;
  background: linear-gradient(to left top, #fa9c74 30%, #ff8552 90%);

  display: flex;
  align-items: center;
  justify-content: center;
}

.content-container {
  max-height: 80rem;
  max-width: 100rem;
  height: 100%;
  width: 100%;
  background-color: rgba(230, 230, 230, 0.863);
  border-radius: 7.4rem;
  position: relative;
  overflow: hidden;

  box-shadow: 5px 5px 19px 2px rgba(0, 0, 0, 0.1);
}

.header {
  display: grid;
  margin-bottom: 4.8rem;
}

.heading {
  font-size: 6.2rem;
  font-weight: 600;
  color: #39393a;
  text-shadow: 0.3rem 0.3rem #85ffc7;
  justify-self: center;
  padding-bottom: 0.8rem;
}

.heading-text {
  font-size: 1.6rem;
  justify-self: center;
  /* border-bottom: 0.2px solid #39393a; */
}

.main-nav {
  display: flex;
  justify-content: space-between;
  margin: 3.2rem;
}

.btn {
  font-size: 3rem;
  color: #39393a;
  /* text-shadow: 0.3rem 0.2rem #85ffc7; */
  padding: 3.2rem;
  background-color: transparent;
  border-radius: 7.4rem;
  border: 0.2rem solid #39393a;
  box-shadow: 5px 5px 19px 2px rgba(0, 0, 0, 0.09);
  cursor: pointer;
  font-family: inherit;

  transition: all 0.3s;
}

.btn:hover {
  transform: translate(-0.3rem, -0.3rem);
  box-shadow: 5px 5px 25px 2px rgba(0, 0, 0, 0.06);
}

.number-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.random-number {
  position: relative;
  font-size: 16rem;
  color: #333;
  text-shadow: 0.3rem 0.3rem #85ffc7;
}

.number-background {
  background-color: transparent;
  border: 0.2rem solid #333;
  height: 20rem;
  width: 20rem;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  /* box-shadow: 0.3rem 0.2rem #85ffc7; */
}

.guess-section {
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.guess {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding: 2.4rem;
}

.score {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  padding: 2.4rem;
}

.guess-input {
  font-size: 4.4rem;
  height: 10rem;
  width: 10rem;
  border: none;
  padding: 1rem;
  border-radius: 50%;
  text-align: center;
  background-color: transparent;
  border: 0.2rem solid #333;
  box-shadow: 0.3rem 0.2rem #85ffc7;
  font-family: inherit;
}

.guess-input::placeholder {
  color: #333;
}

.guess-section *:focus {
  outline: none;
}

.status-text {
  font-size: 3rem;
  letter-spacing: 0.1rem;
  color: #333;
  text-align: center;
  /* text-shadow: 0.3rem 0.2rem #85ffc7; */
}

.score-title {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  color: #333;
}

.highscore-title {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  color: #333;
}

.score-text {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  color: #333;
  /* text-shadow: 0.3rem 0.2rem #85ffc7; */
  position: relative;
}

.score-text::after {
  content: '';
  display: block;
  background-color: transparent;
  border: 0.2rem solid #333;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  height: 5rem;
  width: 5rem;
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 0.3rem 0.2rem #85ffc7;
}

.highscore-text {
  font-size: 2.4rem;
  letter-spacing: 0.1rem;
  color: #333;
  /* text-shadow: 0.3rem 0.2rem #85ffc7; */
  position: relative;
}

.highscore-text::after {
  content: '';
  display: block;
  background-color: transparent;
  border: 0.2rem solid #333;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  height: 5rem;
  width: 5rem;
  position: absolute;
  transform: translate(-50%, -50%);
  box-shadow: 0.3rem 0.2rem #85ffc7;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 1;

  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
}

.modal-content {
  height: 60rem;
  width: 80rem;
  background-color: #39393a;
  border-radius: 7.4rem;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content h2 {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 0.2rem;

  padding-bottom: 2.4rem;
  color: #e6e6e6;
}

.rules {
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  padding: 0 9.8rem 9.8rem 9.8rem;
  line-height: 1.4;
  color: #e6e6e6;
}

.modal-close {
  position: absolute;
  transform: translate(-10%, 0);
  font-size: 3.6rem;
  top: 0;
  right: 0;
  padding: 4rem;
  color: #e6e6e6;
  cursor: pointer;
}

.hidden {
  display: none;
}
